@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opcional: Añadir estilos globales si es necesario */
body {
  margin: 0;
  font-family: 'Inter', sans-serif; /* Asegura que Inter se use globalmente */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* El fondo degradado se aplica en el componente principal, esto es un fallback */
  background-color: #171717;
}
